<!DOCTYPE html>
<html ng-app="chordApp">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="lib/require.min.js"></script>
    <script src="controllers/chord.js"></script>
    <script src="modules/chordFactory.js"></script>
    <link rel="stylesheet" type="text/css" href="styles/chord.css">
</head>
<body ng-controller="ChordCtrl">
<div>
    <button ng-click="getChord('C')">Call foo</button>
    <h1>The chord is {{chordName}}!</h1>
    <div ng-repeat="fret in frets" class="fret">
        <div class="string" id=06></div>
        <div class="string" id=05></div>
        <div class="string" id=04></div>
        <div class="string" id=03></div>
        <div class="string" id=02></div>
        <div class="string" id=01></div>
    </div>
    <div ng-repeat="finger in fingerings" class="finger fret{{finger.Fret}} string{{finger.String}}"></div>
</div>
</body>
</html>